*, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

.custom-shape-divider-bottom-1702229357 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1702229357 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-bottom-1702229357 .shape-fill {
  fill: #141414;
}


.custom-shape-divider-top-1702229713 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1702229713 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1702229713 .shape-fill {
  fill: #141414;
}